<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="Story" type ="RPG.StoryDialogsDataSection, RPG"/>
    <section name="SkillCadre" type ="RPG.SkillCadreDataSection, RPG"/>
    <section name="ClassSkillCadre" type ="RPG.ClassSkillCadreDataSection, RPG"/>
    <section name="PartySkillCadre" type ="RPG.PartySkillCadreDataSection, RPG"/>
  </configSections>

  <Story>
    <Scenes>
      
      <Scene id="0">
        <Parts>
          
          <Part id="1">
            <TextBoxes>
              <!--Abschnitt 1-->
              <TextBox id="1" speaker="Soldat" speakerPicture="Pfad" listener="Kein Bild" listenerPicture="Kein Pfad" row1="Angriff!!!" row2="Besiegt die Dämonenbrut!" row3="Die Götter sind heute auf unserer Seite! " row4=""/>
              <TextBox id="2" speaker="Soldat" speakerPicture="Pfad" listener="Kein Bild" listenerPicture="Kein Pfad" row1="Los Jos zeigen wir ihnen," row2="warum man uns fürchten sollte!" row3="" row4=""/>
              <TextBox id="3" speaker="Jos" speakerPicture="Faces\\Jos\\Jos_NotAmused_Face" listener="Kein Bild" listenerPicture="Kein Pfad" row1="hm..." row2="" row3="" row4=""/>
              <TextBox id="4" speaker="Soldat" speakerPicture="Pfad" listener="Kein Bild" listenerPicture="Kein Pfad" row1="Was ist los Jos?" row2="Die Priester haben uns" row3="mit heiligen Relikten ausgestattet." row4="UNS WIRD MAN NICHT BESIEGEN!"/>
              <TextBox id="5" speaker="Dämon" speakerPicture="Pfad" listener="Soldat" listenerPicture="Pfad" row1="Achja?" row2="" row3="" row4=""/>
              <TextBox id="6" speaker="Soldat" speakerPicture="Pfad" listener="Dämon" listenerPicture="Pfad" row1="ARGH!" row2="" row3="" row4=""/>
              <TextBox id="7" speaker="Jos" speakerPicture="\\Faces\\Jos\\Jos_NotAmused_Face" listener="Dämon" listenerPicture="Pfad" row1="Gut gestorben, Idiot." row2="*Seufzt" row3="Na dann, auf ins Gefecht." row4=""/>
            </TextBoxes>
          </Part>
          
          <Part id="2">
            <TextBoxes>
              <!--Abschnitt 2-->
              <TextBox id="1" speaker="Elena" speakerPicture="Faces\\Elena\\Elena_Standard_Face" listener="Anna" listenerPicture="Faces\\Anna\\Anna_Standard_Face" row1="noch" row2="ein" row3="text" row4="lol" />
            </TextBoxes>
          </Part>
          
        </Parts>
      </Scene>
      
      <!--Testdata-->
      <Scene id="1">
        <Parts>
          <Part id="1">
            <TextBoxes>
              <!--Abschnitt 1-->
              <TextBox id="1" speaker="Elena" speakerPicture="Faces\\Elena\\Elena_Standard_Face" listener="Anna" listenerPicture="Faces\\Anna\\Anna_Standard_Face" row1="noch" row2="ein" row3="text" row4="lol" />
            </TextBoxes>
          </Part>
        </Parts>
      </Scene>
          
    </Scenes>
  </Story>

  
  <!--AllSkills-->
  <SkillCadre>
    <Skills>
      
      <!--Testdata-->
      <Skill name="Damage" manaCosts="0" target="Single" areaOfEffect="Enemy">
        <Effects>
          <Effect name="poison"/>
        </Effects>
      </Skill>
      
      <!--Standard Skills-->
      <Skill name="Angriff" manaCosts="0" target="Single" areaOfEffect="Enemy">
        <Effects>
          <Effect name="Damage"/>
        </Effects>
      </Skill>
          
      <Skill name="Ausruhen" manaCosts="0" target="Single" areaOfEffect="Party">
        <Effects>
          <Effect name="Recover"/>
        </Effects>
      </Skill>
      
      <!--Skills Krieger-->
      <Skill name="Stumpfer Schlag" manaCosts="0" target="Single" areaOfEffect="Enemy">
        <Effects>
          <Effect name="Damage"/>
          <Effect name="DefenseDebuff"/>
        </Effects>
      </Skill>

      <Skill name="Miasma" manaCosts="0" target="Group" areaOfEffect="Enemy">
        <Effects>
          <Effect name="MagicalDamage"/>
          <Effect name="MagicDebuff"/>
        </Effects>
      </Skill>

      <Skill name="Binden" manaCosts="0" target="Group" areaOfEffect="Enemy">
        <Effects>
          <Effect name="ResistanceDebuff"/>
          <Effect name="LuckDebuff"/>
        </Effects>
      </Skill>

      <Skill name="Drachensturm" manaCosts="0" target="Single" areaOfEffect="Enemy">
        <Effects>
          <Effect name="MagicalDamage"/>
          <Effect name="Burn"/>
          <Effect name="DefenseDebuff"/>
        </Effects>
      </Skill>

      <Skill name="Mahlstrom" manaCosts="0" target="Group" areaOfEffect="Enemy">
        <Effects>
          <Effect name="CriticalDamage"/>
        </Effects>
      </Skill>

      <Skill name="Vergelten" manaCosts="0" target="Single" areaOfEffect="Enemy">
        <Effects>
          <Effect name="CriticalDamage"/>
          <Effect name="VitalityDebuff"/>
        </Effects>
      </Skill>

      
      <!--Skills Jäger-->
      <Skill name="Herzsucher" manaCosts="0" target="Single" areaOfEffect="Enemy">
        <Effects>
          <Effect name="CriticalDamage"/>
          <Effect name="Damage"/>
        </Effects>
      </Skill>

      <Skill name="Blutsog" manaCosts="0" target="Single" areaOfEffect="Enemy">
        <Effects>
          <Effect name="Drain"/>
        </Effects>
      </Skill>

      <Skill name="Bluten lassen" manaCosts="0" target="Single" areaOfEffect="Enemy">
        <Effects>
          <Effect name="Damage"/>
          <Effect name="Bleed"/>
          <Effect name="Poison"/>
        </Effects>
      </Skill>

      <Skill name="Schattenschlag" manaCosts="0" target="Single" areaOfEffect="Enemy">
        <Effects>
          <Effect name="MagicalDamage"/>
          <Effect name="Mindblow"/>
          <Effect name="RandomDebuff"/>
        </Effects>
      </Skill>

      <Skill name="Trauma" manaCosts="0" target="Single" areaOfEffect="Enemy">
        <Effects>
          <Effect name="Minblow"/>
          <Effect name="StrengthBuff"/>
          <Effect name="MagicBuff"/>
          <Effect name="DefenseDebuff"/>
        </Effects>
      </Skill>

      <Skill name="Tiefschlag" manaCosts="0" target="Single" areaOfEffect="Enemy">
        <Effects>
          <Effect name="Damage"/>
          <Effect name="Damage"/>
          <Effect name="DefenseDebuff"/>
        </Effects>
      </Skill>
      
      
      <!--Skills Koloss-->
      <Skill name="Wuchthieb" manaCosts="0" target="Group" areaOfEffect="Enemy">
        <Effects>
          <Effect name="Damage"/>
        </Effects>
      </Skill>

      <Skill name="Verstärkung" manaCosts="0" target="Single" areaOfEffect="Party">
        <Effects>
          <Effect name="DefenseBuff"/>
        </Effects>
      </Skill>

      <Skill name="Ansturm" manaCosts="0" target="Single" areaOfEffect="Enemy">
        <Effects>
          <Effect name="Damage"/>
          <Effect name="Damage"/>
          <Effect name="Mindblow"/>
        </Effects>
      </Skill>

      <Skill name="Auferstehen" manaCosts="0" target="Single" areaOfEffect="Party">
        <Effects>
          <Effect name="Resurrection"/>
        </Effects>
      </Skill>

      <Skill name="Ansporn" manaCosts="0" target="Group" areaOfEffect="Party">
        <Effects>
          <Effect name="StrengthBuff"/>
        </Effects>
      </Skill>

      <Skill name="Metabolismus Schub" manaCosts="0" target="Single" areaOfEffect="Party">
        <Effects>
          <Effect name="RandomBuff"/>
          <Effect name="RandomBuff"/>
        </Effects>
      </Skill>

      
      <!--Skills Patron-->
      <Skill name="Regenerieren" manaCosts="0" target="Single" areaOfEffect="Party">
        <Effects>
          <Effect name="Halo"/>
        </Effects>
      </Skill>

      <Skill name="Heilen" manaCosts="0" target="Single" areaOfEffect="Party">
        <Effects>
          <Effect name="Heal"/>
        </Effects>
      </Skill>

      <Skill name="Segen" manaCosts="0" target="Single" areaOfEffect="Party">
        <Effects>
          <Effect name="Bless"/>
        </Effects>
      </Skill>

      <Skill name="Segen Der Könige" manaCosts="0" target="Group" areaOfEffect="Party">
        <Effects>
          <Effect name="Heal"/>
          <Effect name="Halo"/>
        </Effects>
      </Skill>

      <Skill name="Beten" manaCosts="0" target="Single" areaOfEffect="Party">
        <Effects>
          <Effect name="RemoveStatus"/>
        </Effects>
      </Skill>

      <Skill name="Sternenregen" manaCosts="0" target="Group" areaOfEffect="Party">
        <Effects>
          <Effect name="MagicalDamage"/>
        </Effects>
      </Skill>

      
      <!--Skills Verheerer-->
      <Skill name="Feldversuch" manaCosts="0" target="Single" areaOfEffect="Enemy">
        <Effects>
          <Effect name="RandomEffect"/>
          <Effect name="RandomEffect"/>
        </Effects>
      </Skill>

      <Skill name="Verseuchen" manaCosts="0" target="Single" areaOfEffect="Enemy">
        <Effects>
          <Effect name="Bleed"/>
          <Effect name="Poison"/>
        </Effects>
      </Skill>

      <Skill name="Feuerregen" manaCosts="0" target="Group" areaOfEffect="Enemy">
        <Effects>
          <Effect name="MagicalDamage"/>
          <Effect name="Burn"/>
        </Effects>
      </Skill>

      <Skill name="Massenpanik" manaCosts="0" target="Group" areaOfEffect="Enemy">
        <Effects>
          <Effect name="Mindblow"/>
        </Effects>
      </Skill>

      <Skill name="Verstrahlen" manaCosts="0" target="Single" areaOfEffect="Enemy">
        <Effects>
          <Effect name="Poison"/>
          <Effect name="MagicalDamage"/>
        </Effects>
      </Skill>

      <Skill name="Phasenwechsel" manaCosts="0" target="Single" areaOfEffect="Enemy">
        <Effects>
          <Effect name="MagicalDamage"/>
          <Effect name="MagicalDamage"/>
        </Effects>
      </Skill>
      
    </Skills>
  </SkillCadre>
  
  
  <!--ClassSkills-->
  <ClassSkillCadre>
    <Classes>

      <!--Testdata-->
      <Class name="Warrior">
        <ClassSkills>
          <!--Referenziert auf SkillCadre-->
          <ClassSkill name="Damage"/>
        </ClassSkills>
      </Class>

      <!--ActualData-->
      <Class name="Warrior">
        <ClassSkills>
          <ClassSkill name="Stumpfer Schlag"/>
          <ClassSkill name="Miasma"/>
          <ClassSkill name="Binden"/>
          <ClassSkill name="Drachensturm"/>
          <ClassSkill name="Mahlstrom"/>
          <ClassSkill name="Vergelten"/>
          <ClassSkill name="Wuchthieb"/>
          <ClassSkill name="Ansturm"/>
        </ClassSkills>
      </Class>
      
      <Class name="DamageDealer">
        <ClassSkills>
          <ClassSkill name="Herzsucher"/>
          <ClassSkill name="Blutsog"/>
          <ClassSkill name="Bluten lassen"/>
          <ClassSkill name="Schattenschlag"/>
          <ClassSkill name="Trauma"/>
          <ClassSkill name="Tiefschlag"/>
          <ClassSkill name="Verseuchen"/>
        </ClassSkills>
      </Class>

      <Class name="Coloss">
        <ClassSkills>
          <ClassSkill name="Wuchthieb"/>
          <ClassSkill name="Verstärkung"/>
          <ClassSkill name="Ansturm"/>
          <ClassSkill name="Auferstehen"/>
          <ClassSkill name="Ansporn"/>
          <ClassSkill name="Metabolismus Schub"/>
          <ClassSkill name="Beten"/>
          <ClassSkill name="Regenerieren"/>
        </ClassSkills>
      </Class>

      <Class name="Patron">
        <ClassSkills>
          <ClassSkill name="Regenerieren"/>
          <ClassSkill name="Heilen"/>
          <ClassSkill name="Segen"/>
          <ClassSkill name="Segen Der Könige"/>
          <ClassSkill name="Beten"/>
          <ClassSkill name="Sternenregen"/>
          <ClassSkill name="Miasma"/>
          <ClassSkill name="Binden"/>
        </ClassSkills>
      </Class>

      <Class name="Harasser">
        <ClassSkills>
          <ClassSkill name="Feldversuch"/>
          <ClassSkill name="Verseuchen"/>
          <ClassSkill name="Feuerregen"/>
          <ClassSkill name="Massenpanik"/>
          <ClassSkill name="Verstrahlen"/>
          <ClassSkill name="Phasenwechsel"/>
          <ClassSkill name="Blutsog"/>
          <ClassSkill name="Trauma"/>
        </ClassSkills>
      </Class>
      
    </Classes>
  </ClassSkillCadre>

  
  <!--PartySkills-->
  <PartySkillCadre>
    <Chars>

      <!--Testdata-->
      <Char name="Seitz">
        <CharSkills>
          <!--Referenziert auf SkillCadre-->
          <CharSkill name="Damage" level="1"/>
        </CharSkills>
      </Char>

      <!--ActualData-->
      <Char name="Jos Dämon">
        <CharSkills>
          <CharSkill name="Stumpfer Schlag" level="2"/>
          <CharSkill name="Miasma" level="4"/>
          <CharSkill name="Ansturm" level="6"/>
          <CharSkill name="Drachensturm" level="8"/>
        </CharSkills>
      </Char>

      <Char name="Jos Engel">
        <CharSkills>
          <CharSkill name="Regenerieren" level="2"/>
          <CharSkill name="Segen" level="4"/>
          <CharSkill name="Beten" level="6"/>
          <CharSkill name="Miasma" level="8"/>
        </CharSkills>
      </Char>

      <Char name="Seitz">
        <CharSkills>
          <CharSkill name="Ansporn" level="2"/>
          <CharSkill name="Miasma" level="4"/>
          <CharSkill name="Aura des Terrors" level="6"/>
          <CharSkill name="Mahlstrom" level="8"/>
        </CharSkills>
      </Char>

      <Char name="Marlein">
        <CharSkills>
          <CharSkill name="Stumpfer Schlag" level="2"/>
          <CharSkill name="Vergelten" level="4"/>
          <CharSkill name="Binden" level="6"/>
          <CharSkill name="Wuchthieb" level="8"/>
        </CharSkills>
      </Char>

      <Char name="Caspar">
        <CharSkills>
          <CharSkill name="Feldversuch" level="2"/>
          <CharSkill name="Verseuchen" level="4"/>
          <CharSkill name="Verstrahlen" level="6"/>
          <CharSkill name="Phasenwechsel" level="8"/>
        </CharSkills>
      </Char>

      <Char name="Seyfrid">
        <CharSkills>
          <CharSkill name="Blutsog" level="2"/>
          <CharSkill name="Verseuchen" level="4"/>
          <CharSkill name="Magische Nova" level="6"/>
          <CharSkill name="Massenpanik" level="8"/>
        </CharSkills>
      </Char>

      <Char name="Kaiser">
        <CharSkills>
          <CharSkill name="Regenerieren" level="2"/>
          <CharSkill name="Verstärkung" level="4"/>
          <CharSkill name="Metabolismus Schub" level="6"/>
          <CharSkill name="Auferstehen" level="8"/>
        </CharSkills>
      </Char>

      <Char name="Nick">
        <CharSkills>
          <CharSkill name="Wuchthieb" level="2"/>
          <CharSkill name="Bischof" level="4"/>
          <CharSkill name="Ansturm Schub" level="6"/>
          <CharSkill name="Auferstehen" level="8"/>
        </CharSkills>
      </Char>

      <Char name="Ells">
        <CharSkills>
          <CharSkill name="Regenerieren" level="2"/>
          <CharSkill name="Bischof" level="4"/>
          <CharSkill name="Binden" level="6"/>
          <CharSkill name="Miasma" level="8"/>
        </CharSkills>
      </Char>

      <Char name="Ells">
        <CharSkills>
          <CharSkill name="Regenerieren" level="2"/>
          <CharSkill name="Bischof" level="4"/>
          <CharSkill name="Binden" level="6"/>
          <CharSkill name="Miasma" level="8"/>
        </CharSkills>
      </Char>
      
    </Chars>
  </PartySkillCadre>
  
</configuration>