<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="Story" type ="RPG.StoryDialogsDataSection, RPG"/>
  </configSections>

  <Story>
    <Scenes>
      
      <Scene id="1">
        <TextBoxes>
          <!--Abschnitt 1-->
          <TextBox id="1" speaker="seitz" speakerPicture="seitz1" listener="jos" listenerPicture="jos" row1="dies" row2="ist" row3="ein" row4="test" />
          <!--Abschnitt 2-->
        </TextBoxes>
      </Scene>
      
      <Scene id="2">
        <TextBoxes>
          <!--Abschnitt 1-->
        </TextBoxes>
      </Scene>
      
      <Scene id="3">
        <TextBoxes>
          <!--Abschnitt 1-->
        </TextBoxes>
      </Scene>
      
      <Scene id="4">
        <TextBoxes>
          <!--Abschnitt 1-->
        </TextBoxes>
      </Scene>
      
      <Scene id="5">
        <TextBoxes>
          <!--Abschnitt 1-->
        </TextBoxes>
      </Scene>
      
      <Scene id="6">
        <TextBoxes>
          <!--Abschnitt 1-->
        </TextBoxes>
      </Scene>
      
      <Scene id="7">
        <TextBoxes>
          <!--Abschnitt 1-->
        </TextBoxes>
      </Scene>
      
      <Scene id="8">
        <TextBoxes>
          <!--Abschnitt 1-->
        </TextBoxes>
      </Scene>
      
      <Scene id="9">
        <TextBoxes>
          <!--Abschnitt 1-->
        </TextBoxes>
      </Scene>
      
      <Scene id="10">
        <TextBoxes>
          <!--Abschnitt 1-->
        </TextBoxes>
      </Scene>

      <Scene id="10.2">
        <TextBoxes>
          <!--Abschnitt 1-->
        </TextBoxes>
      </Scene>
      
      <Scene id="11">
        <TextBoxes>
          <!--Abschnitt 1-->
        </TextBoxes>
      </Scene>
      
      <Scene id="12">
        <TextBoxes>
          <!--Abschnitt 1-->
        </TextBoxes>
      </Scene>
      
      <Scene id="13">
        <TextBoxes>
          <!--Abschnitt 1-->
        </TextBoxes>
      </Scene>
      
      <Scene id="14">
        <TextBoxes>
          <!--Abschnitt 1-->
        </TextBoxes>
      </Scene>
      
      <Scene id="15">
        <TextBoxes>
          <!--Abschnitt 1-->
        </TextBoxes>
      </Scene>
      
      <Scene id="16">
        <TextBoxes>
          <!--Abschnitt 1-->
        </TextBoxes>
      </Scene>
      
      <Scene id="17">
        <TextBoxes>
          <!--Abschnitt 1-->
        </TextBoxes>
      </Scene>
      
      <Scene id="18">
        <TextBoxes>
          <!--Abschnitt 1-->
        </TextBoxes>
      </Scene>
      
      <Scene id="19">
        <TextBoxes>
          <!--Abschnitt 1-->
        </TextBoxes>
      </Scene>
      
      <Scene id="20">
        <TextBoxes>
          <!--Abschnitt 1-->
        </TextBoxes>
      </Scene>
      
    </Scenes>
  </Story>
</configuration>