<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="Story" type ="RPG.StoryDialogsDataSection, RPG"/>
    <section name="SkillCadre" type ="RPG.SkillCadreDataSection, RPG"/>
    <section name="ClassSkillCadre" type ="RPG.ClassSkillCadreDataSection, RPG"/>
    <section name="PartySkillCadre" type ="RPG.PartySkillCadreDataSection, RPG"/>
  </configSections>

  <Story>
    <Scenes>

      <!--Testdata-->
      <Scene id="0">
        <Parts>

          <Part id="0">
            <TextBoxes>
              <!--Abschnitt 1-->
              <TextBox id="0" speaker="Elena" speakerPicture="Faces\\Female\\Elena\\Elena_Standard_Face" listener="Anna" listenerPicture="Faces\\Female\\Anna\\Anna_Standard_Face" row1="dies" row2="ist" row3="ein" row4="test" />
            </TextBoxes>
          </Part>

        </Parts>
      </Scene>
      
      <!--Testdata-->
      <Scene id="1">
        <Parts>
          <Part id="1">
            <TextBoxes>
              <!--Abschnitt 1-->
              <TextBox id="1" speaker="Elena" speakerPicture="Faces\\Female\\Elena\\Elena_Standard_Face" listener="Anna" listenerPicture="Faces\\Female\\Anna\\Anna_Standard_Face" row1="noch" row2="ein" row3="text" row4="lol" />
            </TextBoxes>
          </Part>
        </Parts>
      </Scene>
          
    </Scenes>
  </Story>

  
  <!--AllSkills-->
  <SkillCadre>
    <Skills>
      
      <!--Testdata-->
      <Skill name="Damage" manaCosts="0" target="Single" areaOfEffect="Enemy">
        <Effects>
          <Effect name="poison"/>
        </Effects>
      </Skill>
      
      <!--Skills Krieger-->
      <Skill name="Stumpfer Schlag" manaCosts="0" target="Single" areaOfEffect="Enemy">
        <Effects>
          <Effect name="Damage"/>
          <Effect name="DefenseDebuff"/>
        </Effects>
      </Skill>

      <Skill name="Miasma" manaCosts="0" target="Group" areaOfEffect="Enemy">
        <Effects>
          <Effect name="MagicalDamage"/>
          <Effect name="MagicDebuff"/>
        </Effects>
      </Skill>

      <Skill name="Binden" manaCosts="0" target="Group" areaOfEffect="Enemy">
        <Effects>
          <Effect name="ResistanceDebuff"/>
          <Effect name="LuckDebuff"/>
        </Effects>
      </Skill>

      <Skill name="Drachensturm" manaCosts="0" target="Single" areaOfEffect="Enemy">
        <Effects>
          <Effect name="MagicalDamage"/>
          <Effect name="Burn"/>
          <Effect name="DefenseDebuff"/>
        </Effects>
      </Skill>

      <Skill name="Mahlstrom" manaCosts="0" target="Group" areaOfEffect="Enemy">
        <Effects>
          <Effect name="CriticalDamage"/>
        </Effects>
      </Skill>

      <Skill name="Vergelten" manaCosts="0" target="Single" areaOfEffect="Enemy">
        <Effects>
          <Effect name="CriticalDamage"/>
          <Effect name="VitalityDebuff"/>
        </Effects>
      </Skill>

      <!--Skills Koloss-->
      <Skill name="Herzsucher" manaCosts="0" target="Single" areaOfEffect="Enemy">
        <Effects>
          <Effect name="CriticalDamage"/>
          <Effect name="Damage"/>
        </Effects>
      </Skill>
      
      <!--Skills Koloss-->
      <Skill name="Wuchthieb" manaCosts="0" target="Group" areaOfEffect="Enemy">
        <Effects>
          <Effect name="Damage"/>
        </Effects>
      </Skill>

      <Skill name="Verstärkung" manaCosts="0" target="Single" areaOfEffect="Party">
        <Effects>
          <Effect name="DefenseBuff"/>
        </Effects>
      </Skill>

      <Skill name="Ansturm" manaCosts="0" target="Single" areaOfEffect="Enemy">
        <Effects>
          <Effect name="Damage"/>
          <Effect name="Damage"/>
          <Effect name="Mindblow"/>
        </Effects>
      </Skill>

      <Skill name="Auferstehen" manaCosts="0" target="Single" areaOfEffect="Party">
        <Effects>
          <Effect name="Resurrection"/>
        </Effects>
      </Skill>

      <Skill name="Ansporn" manaCosts="0" target="Group" areaOfEffect="Party">
        <Effects>
          <Effect name="StrengthBuff"/>
        </Effects>
      </Skill>

      <Skill name="Metabolismus Schub" manaCosts="0" target="Single" areaOfEffect="Party">
        <Effects>
          <Effect name="RandomBuff"/>
          <Effect name="RandomBuff"/>
        </Effects>
      </Skill>

    </Skills>
  </SkillCadre>
  
  
  <!--ClassSkills-->
  <ClassSkillCadre>
    <Classes>

      <!--Testdata-->
      <Class name="Warrior">
        <ClassSkills>
          <!--Referenziert auf SkillCadre-->
          <ClassSkill name="Damage"/>
        </ClassSkills>
      </Class>

      <Class name="">
        <ClassSkills>
          <ClassSkill name=""/>
        </ClassSkills>
      </Class>
      
    </Classes>
  </ClassSkillCadre>

  
  <!--PartySkills-->
  <PartySkillCadre>
    <Chars>

      <!--Testdata-->
      <Char name="Seitz">
        <CharSkills>
          <!--Referenziert auf SkillCadre-->
          <CharSkill name="Damage" level="1"/>
        </CharSkills>
      </Char>

      <Char name="">
        <CharSkills>
          <CharSkill name="" level=""/>
        </CharSkills>
      </Char>
      
    </Chars>
  </PartySkillCadre>
  
</configuration>