<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="Sceneses" type ="ConnectionManagerUpdater.Data.Configuration.ScenesesataSection, ConnectionManagerUpdater"/>
  </configSections>

  <Sceneses>
    <Scenes>
      <Scene1>
      </Scene1>
    </Scenes>
  </Sceneses>
</configuration>