<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="Scenes" type ="ConnectionManagerUpdater.Data.Configuration.ScenesataSection, ConnectionManagerUpdater"/>
  </configSections>

  <Scenes>
    <Scenes>
      <Scene1>
      </Scene1>
    </Scenes>
  </Scenes>
</configuration>